<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaRT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <asm:assemblyBinding xmlns:asm="urn:schemas-microsoft-com:asm.v1">
      <asm:probing privatePath="data\lib" />
    </asm:assemblyBinding>
  </runtime>
  <userSettings>
        <DaRT.Properties.Settings>
              <setting name="host" serializeAs="String">
                    <value>127.0.0.1</value>
              </setting>
              <setting name="port" serializeAs="String">
                    <value>2302</value>
              </setting>
              <setting name="password" serializeAs="String">
                    <value />
              </setting>
              <setting name="bannerImage" serializeAs="String">
                    <value>http://cache.www.gametracker.com/server_info/{0}/b_350_20_FFAD41_E98100_000000_591F11.png</value>
              </setting>
              <setting name="bannerUrl" serializeAs="String">
                    <value>http://www.gametracker.com/server_info/{0}/</value>
              </setting>
              <setting name="reconnect" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="refresh" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="banGUID" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="banIP" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="report" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="savePlayers" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="saveHosts" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showTimestamps" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="refreshOnlyOnJoin" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="enableScrolling" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showConnectMessages" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showRefreshMessages" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showVerificationMessages" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showAdminMessages" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showAdminChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showDirectChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showVehicleChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showGroupChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="saveLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="interval" serializeAs="String">
                    <value>10</value>
              </setting>
              <setting name="requestOnConnect" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showGlobalChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showSideChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showSetDamageLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showPublicVariableLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showCreateVehicleLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showRemoteExecLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showScriptsLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showSetPosLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showLogErrors" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="splitter" serializeAs="String">
                    <value>325</value>
              </setting>
        </DaRT.Properties.Settings>
    </userSettings>
</configuration>